<div class="content_st">
  
  <!-- Search Field -->
  <div>
  <div class="search">
    <input [(ngModel)]="searchText" placeholder="Введіть поле вибору?" class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()"></span>
   </div>
</div>
  <!-- Clear Link -->
  <div class="clear-selection" title="Click to Clear Selections" (click)="clearSelection()" *ngIf="selected_count">Зняти вибране</div>
  
  <!-- Game List -->
  <div class="checkboxing_year">  
  <ul class="books-list">
    <li *ngFor="let g of books | filter : searchText" class="books-item"> 
      <input (change)="getSelected()" type="checkbox"
               name="books"
               value="{{g.id}}"
               [(ngModel)]="g.selected"/> 
      <span class="books-text">{{g.name}}</span>
    </li>
  </ul>
  </div>
  <!-- Selected Games-->

  <div class="selected-books" *ngFor="let s of selected_books" >
    
  <div class="one">
    <img class="book-img" src="./favicon.ico" alt="logo">
    <div class="content-books">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis beatae neque sit, cum numquam nihil deleniti quas, earum ab debitis commodi quo, aperiam molestiae.</p>
    <div class="sylka">
    <a class="prewier" href="">Preview</a>
    <a href="">Order</a></div>
    <div class="rating_block">
        <input name="rating" value="5" id="rating_5" type="radio" />
        <label for="rating_5" class="label_rating"></label>
      
        <input name="rating" value="4" id="rating_4" type="radio" />
        <label for="rating_4" class="label_rating"></label>
      
        <input name="rating" value="3" id="rating_3" type="radio" />
        <label for="rating_3" class="label_rating"></label>
      
        <input name="rating" value="2" id="rating_2" type="radio" />
        <label for="rating_2" class="label_rating"></label>
      
        <input name="rating" value="1" id="rating_1" type="radio" />
        <label for="rating_1" class="label_rating"></label>
      </div>
    </div>
  </div>


</div>
  
</div>